.DS_Store
*.pyc
x86_64
*.toc
*.aux
*.log
*.toc
*.bbl
*.blg
*.out
*.pdf
*.komodoproject
.idea
*.synctex.gz*
cover
.coverage
build
nest_model
test_files
nineml_mechanisms
*.project
*.pydevproject
*.settings
*.pdf
*.synctex.gz
.9build
/Gemfile.lock
*.BACKUP.*.tex
*.BASE.*.tex
*.LOCAL.*.tex
*.REMOTE.*.tex
*.swp
*~
*.egg-info
*.dvi
*#
lib9ml/python/MANIFEST
lib9ml/python/dist
