.DS_Store
*.pyc
x86_64
*.toc
*.aux
*.log
*.toc
*.bbl
*.blg
*.out
*.pdf
*.komodoproject
.idea
*.synctex.gz*
cover
build
nest_model
test_files
nineml_mechanisms
*.project
*.pydevproject
*.settings
*.pdf
*.synctex.gz
.9build
/Gemfile.lock
